@import 'tailwindcss';
@import './fonts.css';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-i: 'Host Grotesk', sans-serif;
    --font-sans: 'Overused Grotesk', sans-serif;
    --font-mono: 'Space Mono', monospace;
    --text-base: 0.94rem;
    --leading-snug: 1.35;
    --tracking-tight: -0.01em;

    --color-dark-50: #f3f3f3;
    --color-dark-100: #e3e3e3;
    --color-dark-200: #d3d3d3;
    --color-dark-300: #b3b3b3;
    --color-dark-400: #a3a3a3;
    --color-dark-500: #737373;
    --color-dark-600: #535353;
    --color-dark-700: #333333;
    --color-dark-800: #232323;
    --color-dark-900: #131313;
    --color-dark-950: #030303;

    --color-iii-50: #c2ffe3;
    --color-iii-100: #85ffc8;
    --color-iii-200: #5cffb6;
    --color-iii-300: #33ffa3;
    --color-iii-400: #0aff91;
    --color-iii-500: #00e17c;
    --color-iii-600: #00b865;
    --color-iii-700: #008f4f;
    --color-iii-800: #006638;
    --color-iii-900: #003d22;
    --color-iii-950: #002916;
}

@theme inline {
    --color-dark: var(--dark);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-md: calc(var(--radius) * 0.7);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
}

:root {
    --radius: 0.635rem;
    --dark: var(--color-black);
    --background: var(--color-white);
    --foreground: var(--color-dark-950);
    --muted: var(--color-dark-100);
    --muted-foreground: var(--color-dark-500);
    --accent: var(--color-dark-100);
    --accent-foreground: var(--color-dark-900);
    --border: var(--color-dark-200);
    --input: var(--color-dark-200);
    --ring: var(--color-dark-400);
}

.dark {
    --dark: var(--color-white);
    --background: var(--color-dark-950);
    --foreground: var(--color-dark-50);
    --muted: var(--color-dark-800);
    --muted-foreground: var(--color-dark-400);
    --accent: var(--color-dark-900);
    --accent-foreground: var(--color-dark-50);
    --border: #ffffff1a;
    --input: #ffffff26;
    --ring: var(--color-dark-500);
}

@layer base {
    * {
        @apply border-border outline-ring/50 scrollbar-thumb-ring scrollbar-track-background scrollbar-thin;
        word-spacing: 0.038em;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply text-foreground bg-background selection:text-dark-950 selection:bg-iii-300 mx-auto px-5 pt-30 pb-20 text-base tracking-tight sm:max-w-115 sm:px-0;
    }

    body,
    h2,
    h3,
    p,
    span,
    strong {
        @apply transition-colors duration-200;
    }

    section {
        @apply space-y-5;
    }

    p,
    li {
        @apply leading-snug text-pretty;
    }

    strong {
        @apply font-medium;
    }
}
