@import 'tailwindcss';
@import './fonts.css';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-i: 'Host Grotesk', sans-serif;
    --font-sans: 'Overused Grotesk', sans-serif;
    --font-mono: 'Space Mono', monospace;
    --text-base: 0.935rem;
    --leading-snug: 1.37;

    --color-dark-50: #f3f3f3;
    --color-dark-100: #e3e3e3;
    --color-dark-200: #d3d3d3;
    --color-dark-300: #b3b3b3;
    --color-dark-400: #a3a3a3;
    --color-dark-500: #737373;
    --color-dark-600: #535353;
    --color-dark-700: #333333;
    --color-dark-800: #232323;
    --color-dark-900: #131313;
    --color-dark-950: #030303;

    --color-iii-50: #c2ffe3;
    --color-iii-100: #85ffc8;
    --color-iii-200: #5cffb6;
    --color-iii-300: #33ffa3;
    --color-iii-400: #0aff91;
    --color-iii-500: #00e17c;
    --color-iii-600: #00b865;
    --color-iii-700: #008f4f;
    --color-iii-800: #006638;
    --color-iii-900: #003d22;
    --color-iii-950: #002916;
}

@theme inline {
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: var(--color-white);
    --foreground: oklch(0.145 0 0);
    --card: oklch(0.96 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0 / 95%);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --radius: 0.625rem;
}

.dark {
    --background: var(--color-dark-950);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0 / 90%);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
        scrollbar-width: thin;
        scrollbar-color: var(--color-ring) var(--color-background);
        word-spacing: 0.03em;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply text-base tracking-tight text-foreground bg-background selection:text-dark-950 selection:bg-iii-300;
    }

    body,
    h2,
    h3,
    p,
    span,
    strong {
        @apply transition-colors duration-200;
    }

    p {
        @apply text-pretty leading-snug text-secondary-foreground;
    }

    strong {
        @apply font-medium;
    }
}
